<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/front_page.css" />
    <link rel="stylesheet" href="../static/css/code.css">
    <link rel="stylesheet" href="../static/css/loader.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    

    <title>Campus Mentor Blog</title>

</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0" nonce="ErZFG5c3"></script> 
    <section id="header" class="nav">
        <div class="header">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>C</span>AMPUS <span>M</span>ENTOR</h1>
                    </a>
                </div>

                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul id="nav_ul">
                        <li><a href="/" data-after="Home">Home</a></li>
                        <li><a href="#services" data-after="Service">Services</a></li>
                        <li><a href="/blog?id=6149cfe08f91620016b8a071" data-after="About">About</a></li>
                        <li><a href="#contact" data-after="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <p class="fd_content con2" style="position: fixed" id="center_btn">
    </p>

    <div class="container">
        <div class="row content">
            <div class="col-sm-3">
                <div id="blogging" class="d-flex flex-column">
                    //- <a class="nav-link" href="#">
                    //-     <div class="text-light">0k</div>
                    //-     <span class="sr-only">(current)</span>
                    //- </a>

                    

                    <a id="blogvisit" type="button" class="btn btn-outline-light follow_btn">BLOGS VISIT</a>
                    <br>

                    <div class="d-flex flex-row" style="    transform: translate(6%, 28%);">
                        <button type="button" class="btn btn-light btn-circle btn-md" data-bs-toggle="tooltip"  data-bs-placement="bottom" title="Subscribe to get an Email"> 
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button id="copystart" class="btn btn-light btn-circle btn-md" type="button" data-bs-placement="bottom" title="Copy code when code is clicked">
                            <i class="fa fa-copy"></i>
                        </button>
                        
                        <div class="placement">
                            <div id="like" class="heart"></div>
                        </div>
                        
                    </div>
              
                </div>

            </div>
            <div class="col-sm-8" id="load">
                <div class="loadcard">
                    <div class="loadcard__description loading" style="--descH : 3rem; --descW : 50%"></div>
                    <div class="loadcard__description loading" style="--descH : 2rem; --descW : 100%"></div>

                    <div class="loadcard__title loading" style="--titlewidth : 40%"></div>
                    <div class="loadcard__image loading"></div>
                    <div class="loadcard__image loading"></div>
                </div>
            </div>

            <!-- Button trigger modal -->
    
            
            <div class="col-sm-8" id="mainContainer" style="display:none">


                <div id="price-modal">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        | Buy Blog 
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Payment Datails </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    | ...
                                    <div id="pricing"></div>
                                </div>
                                <label>Order id   :</label><input type=text id=rzp-text /><br/>

                                <div></div>
                                <label>Order id    :</label><input type=text id=order-id />
                                <br/>
                                <label>payment id  :</label><input type=text id=order-pay-id />
                                <br/>
                                <label>Signature   :</label><input type=text id=order-sig />

                                <div class="modal-footer" id="modal-footer">
                                    <button type="button" id="buy_blog_btn" class="btn btn-primary">BUY</button>
                                    <button type="button" id="rzp-button1" class="btn btn-primary" style="display: none;">Checkout</button>
                                    <button type="button" id="verify-button1" class="btn btn-primary" style="display: none;">Verify</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="google_translate_element" onclick="hidebanner()"></div>
                <div class="title" id="content_title"></div>
                <hr>
                <div class="subheading" id="subheading"></div>
                <div class="d-flex flex-column">
                    <div class="tags" id="tags"></div>

                    <div class="d-flex flex-row blog_details">
                        <div class="date" id="date"></div>
                        
                        <div class="d-flex flex-row" id="comments"><i class="fa fa-comment"></i><div id="t_comment"></div></div>
                    </div>
                </div>

                <div class="mt-5" id="body"></div>

            </div>
        </div>
        //- <br><br>
    </div>
    
    <div class="edco" id='editcontent' style="margin : 20px">
        <button class="btn btn-primary" id="newedit">Edit</button> 
        <div id='editcontent1' style="display : none">
            <label class="h3 theorytag">Theory</label>
            <textarea name="contentDetails" id="contentDetails" rows="40" cols="80">
            </textarea>
            <textarea class="source" style="width: 100%; height: 429px; display: none;"></textarea>
            <button class="btn btn-primary" id="savedit">Save Edit (Wait 5s before click)</button> 
            <br><br>
            <details>
                <summary>Preview</summary>
                <p><div id="my-theory" name="body" style="max-height : 500px;overflow : scroll; padding : 10px;"></div></p>
            </details>
        </div>
    </div>

    <div id="fbc" class="fb-comments" data-href="https://campusmentor.herokuapp.com/blog?id=#{id}" data-width="100%" data-numposts="5" data-colorscheme="dark"></div>



    <footer>
        <div>
            | This Site Is Under development Please Ignore Some Error And Button Which Are Not Wworking Here And There
        </div>
    </footer>

    <script src="../static/js/getUserByJWT.js"></script>
    <script src="../static/js/tooglenav.js"></script>

    <script src="../static/js/header.js"></script>

    <script src="../static/js/onwidth500.js"></script>

    <script src="../static/js/getBlogById.js"></script>



    <script src="../static/js/copy_blockquotes.js"></script>
    <script src="../static/js/setdatainbody.js"></script>
    <script src="../static/js/likeLogic.js"></script>

    <!-- razorpay scripts -->
    <script src="../static/js/capture_order_id.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="../static/js/get_order_details.js"></script>
    <script src="../static/js/verify_payment.js"></script>
    <script type="text/javascript">function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en'},'google_translate_element');}
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

</body>

</html>